# Change or copy this file to .env and edit the real values
MONGODB_INIT_USER=mongodb_admin
MONGODB_INIT_PASSWORD=mongodb_admin_password_change_in_prod

# service_mongo is the name of the service and container suffix
MONGODB_URI=mongodb://service_mongo:27017/pennywise_db?authSource=admin

# example for using local server. IP address can also be 0.0.0.0
#MONGODB_URI=mongodb://localhost:27010/pennywise_db?authSource=admin
# with atlas
#MONGODB_URI=mongodb+srv://<db_username>:<db_password>@penny-wise-cluster-0.blks80l.mongodb.net/?appName=penny-wise-cluster-0
