MONGODB_URI=mongodb+srv://ekomjahedet_db_user:xZqzdEeCr38GbsnK@penny-wise-cluster-0.blks80l.mongodb.net/?appName=penny-wise-cluster-0
#alternative to atlas (local docker config)
#MONGODB_URI=mongodb://localhost:27010/pennywise_db
PORT = 5000
